/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************/

@font-face {
	font-family: 'Conv_Cabin-Regular-TTF';
	src: url('fonts/Cabin-Regular-TTF.eot');
	src: local('☺'), url('fonts/Cabin-Regular-TTF.woff') format('woff'), url('fonts/Cabin-Regular-TTF.ttf') format('truetype'), url('fonts/Cabin-Regular-TTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Cabin-BoldItalic-TTF';
	src: url('fonts/Cabin-BoldItalic-TTF.eot');
	src: local('☺'), url('fonts/Cabin-BoldItalic-TTF.woff') format('woff'), url('fonts/Cabin-BoldItalic-TTF.ttf') format('truetype'), url('fonts/Cabin-BoldItalic-TTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Cabin-Italic-TTF';
	src: url('fonts/Cabin-Italic-TTF.eot');
	src: local('☺'), url('fonts/Cabin-Italic-TTF.woff') format('woff'), url('fonts/Cabin-Italic-TTF.ttf') format('truetype'), url('fonts/Cabin-Italic-TTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

body {
	background-color: #C2CBAE;
}

#wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);

	/*font-family: Georgia, Times, serif;*/
	font: normal 24px "Conv_Cabin-Regular-TTF", sans-serif !important;
	width: 75%;
}

#profiles a {
	color: black;
	text-decoration: none;
}

#profiles a:hover {
	text-decoration: underline;
}

.profile-header {
	border-bottom: 3px solid black;
	padding-bottom: 15px;
}

.profile-header h1 {
	font: normal 48px "Conv_Cabin-BoldItalic-TTF", sans-serif !important;
	margin-right: 20px;
	float: left;
	position: relative;
	top: 5px;
}

.profile-header .gamedate {
	font: normal 38px "Conv_Cabin-Regular-TTF", sans-serif !important;
	float: left;
	position: relative;
	top: 12px;
}

.profile-header h2 {
	font: normal 30px "Conv_Cabin-Italic-TTF", sans-serif !important;
	float: right;
	text-align: right;
	width: 150px;
}

#profiles p {
	margin: 1.0em 0;
	line-height: 1.3em;
}

#img-header {
	border-radius: 50%;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.profile {
	display:none;
	background-color:rgba(255, 255, 255, 0.75);
	padding: 30px;
}

.annecdote {
	display: none;
}

#lags {
	font: normal 33px "Conv_Cabin-BoldItalic-TTF", sans-serif !important;
	margin-top: 3.0em;
	display: none;
}

#lags img {
	float: left;
	position: relative;
	top: -13px;
	left: -17px;
}

#lags p {
	text-align: right;
	background-color:rgba(255, 255, 255, 0.75);
	padding: 7px 20px;
	margin-left: 115px;
	white-space: nowrap;
}

#tip {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);

	background-color: blue;
	color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #555555;
	font: normal 18px "Conv_Cabin-Regular-TTF", sans-serif !important;
}

#tip p {
	padding: 1.5em;
}

canvas {
	display:block;
	width: 100%; height: 100%;
}