h1
{
	margin:1em 0;
}

#profile img
{
	height:1.0em;
	position: relative;
	top: -0.1em;
}

.tweet img.tweet-profile-pic
{
	height: 24px;
}

.tweet
{
	padding:4px;
	clear: both;
}

div.user-name
{
	width: 150px;
	text-align: right;
	float: left;
	margin-right: 0.5em;
}